/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --dark-blue: #16142A;
    --light-blue: #bed4eb;
    --light-pink: #ebbee4;
    --light-purple: #c7beeb;
    --text-color: black;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--dark-blue);
    color: var(--text-color);
}

footer {
    color: var(--light-blue);
    text-align: center;
    padding: 40px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 350px;
    justify-content: space-around;
    font-size: 15px;
}

li {
    /* width: 200px; */
    text-decoration: none;
}

/*
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 65px;
    padding-top: 100px;
    margin: 0;
    display: flex;
    justify-content: center;
}
*/

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #16142A;
    text-align: center;
}

/*
h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 30px;
}
*/

/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
    text-decoration: none;
}

/* DESKTOP NAVIGATION */

nav, .nav-links {
    display: flex;
}

nav {
    /*justify-content: space-around; 
    align-items: center;
    background-color: black;
    position: relative;
    z-index: 100;
    height: 10vh;
    */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 2rem 9%;
    background: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: var(--light-blue);
    text-decoration: none;
    text-decoration-color: white;
}

a:hover, 
a.active {
    color: white;
    /*text-decoration: underline;
    text-underline-offset: 1rem;*/
}

.logo {
    height: 4rem;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display:none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--light-blue);
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--dark-blue);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--light-blue);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.menu-links a:hover, 
.menu-links a.active {
    color: white;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* HOMEPAGE */
.home {
    height: 100vh;
    color: black;
}

.home-area {
    overflow-x: hidden;
    position: relative;
    background-image: linear-gradient(var(--light-pink), var(--light-purple), var(--light-blue));
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center; 
}

.home-area img {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#birds {
    width: 12%;
    bottom: 70%;
    left: 1%;
    /* margin-right: 85%; */
}

#sun {
    width: 20%;
    bottom: 60%;
    left: 75%;
}

#cloud-one {
    width: 9%;
    bottom: 50%;
    left: 1%;
}

#cloud-two {
    width: 5%;
    bottom: 20%;
    left: 10%;
}

#cloud-three {
    width: 7%;
    bottom: 40%;
    left: 22%;
}

#cloud-four {
    width: 8%;
    bottom: 80%;
    left: 18%;
}

#cloud-five {
    width: 6%;
    bottom: 25%;
    left: 45%;
}

#cloud-six {
    width: 5%;
    bottom: 20%;
    left: 65%;
}

#cloud-seven {
    width: 9%;
    bottom: 85%;
    left: 65%;
}

#cloud-eight {
    width: 10%;
    bottom: 45%;
    left: 70%;
}

#cloud-nine {
    width: 7%;
    bottom: 27%;
    left: 90%;
}

.home-content {
    margin-bottom: 200px;
    position: relative;
    z-index: 70;
}

.home-content h1 {
    font-size: 6.0rem;
    font-weight: 600;
    line-height: 1.3;
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.home-content h3 {
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

/*
span {
    color: var(--dark-blue);
}
*/

.accounts {
    padding-top: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.accounts a:hover {
    background: white;
}

.account {
    display: inline-flex;
    margin: 5px;
    background: transparent;
    border: 0.3rem solid black;
    border-radius: 1.2rem;
    font-size: 4rem;
    transition: 0.5s ease;
}

.button {
    margin: auto;
    width: 90px;
    height: 30px;
    border-radius: 1rem;
    background-color: black;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    padding-top: 5px;
    margin-top: 5px;
    transition: 0.5s ease;
}

.button:hover {
    background-color: var(--dark-blue);
}

.button:active {
    background-color: black;
}

/* SECTIONS */
section {
    /*background-color: var(--light-blue);*/
    margin: 0;
    min-height: 100vh; /* fit-content */
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* ABOUT ME SECTION */
.about {
    /* min-height: 100vh;
    gap: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 9% 2rem;
    background-color: var(--light-purple);
}

.about img {
    width: 75%;
    /*width: 35vh;*/
}

.about-content h1 {
    font-size: 4.0rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.about-content p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.about-content p:nth-of-type(1) {
    margin-bottom: 0rem;
}

.about-content .button {
    margin-left: 0;
}

/* PROJECTS SECTION */
.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.project-box {
    width: 300px;
    height: 400px;
    background-color: #adacc3;
    box-shadow: 5px 5px 20px var(--light-pink);
    margin: 10px;
}

.projects-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .projects-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.project-link {
    text-decoration: none;
    background-color: var(--light-blue);
    color: #16142A;
}